@import "fonts";

:root {
  --grey-dark: #19181b;
  --grey-primary: #242227;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9a9595 transparent;
}

* {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  background-color: var(--grey-primary);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
