.text {
  font-weight: 600;
  font-size: 1.6rem;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-align: justify;
  &_default {
    font-size: 1.6rem;
  }

  &_thin {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.color {
  &_white {
    color: #fff;
  }
  &_gold {
    color: #ffaf03;
  }
  &_black {
    color: rgba(36, 36, 36, 0.5);
  }
}
