.container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.selection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  height: fit-content;
  padding: 1rem 2.8rem 1rem 1.4rem;
  border-radius: 1.2rem;
  background-color: #19181b;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  color: #e5e5e5;
  outline: none;
  cursor: pointer;
  appearance: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.input {
  height: 100%;
  max-width: 100px;
}
