.info {
  display: flex;
  flex-direction: column;
  background-color: #303034;
  position: relative;
  overflow: hidden;
  border-radius: 12px;

  box-shadow:
    0 0 0 1px #a37a2c,
    0 0 0 2px #303034,
    0 8px 16px rgba(0, 0, 0, 0.2);
}

.text {
  padding: 1vw;
  height: fit-content;
  min-height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
