.container {
  background-color: var(--grey-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 80px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
